/*Helpers*/
.flex-column {
    flex-direction: column;
    align-self: center;
}

/*Overrides */
.tabs li.is-active a {
    border-bottom-color: #3760a8;
    color: #3760a8;
}
.section {
    padding: 2rem 1.5rem;
}

html.has-navbar-fixed-top {
    padding-top: 151px;
}

button.navbar-burger {
    border: none;
    background: #fff;
    height: 10rem;
    width: 10rem;
}

.navbar-burger span:nth-child(1) {
    top: calc(50% - 10px);
}

.navbar-burger span:nth-child(2) {
    top: calc(50% + 5px);
}

.navbar-burger span:nth-child(3) {
    top: calc(50% + 20px);
}

.navbar-burger.is-active span:nth-child(1) {
    top: calc(50% - 10px);
}

.navbar-burger.is-active span:nth-child(3) {
        top: calc(50% + 0px);
}

.navbar-burger span {
    height: 5px;
    left: calc(50% - 25px);
    width: 50px;
}

.button:active, .button.is-active {
    border: none;
    color: #363636;
    background: #fff;
}

.button:hover, .button.is-hovered {
    border: none;
    color: #363636;
    background: #fff;
}

/*Main*/
html {
    font-size: 10px;
}

a {
    color: #3760a8;
    font-size: 1.4rem;
}

a:hover {
    text-decoration: underline;
    color: #3760a8;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    color: #ae002d;
    font-size: 2rem;
    line-height: 1.1;
    font-style: italic;
}

h3 {
    font-size: 2rem;
}
h3.header {
    margin: 20px 0;
    font-size: 2.5rem;
    font-weight: bold;
}

p {
    font-size: 1.4rem;
    margin-bottom: 10px;
    line-height: 1.4;
}

/*Navbar*/
.navbar {
    min-height: 10rem;
}

.navbar-item:hover {
    text-decoration: none;
}

.navbar-item img {
    max-height: 15rem;
}

.navbar-link {
    color: #3760a8;
}

.phone {
    font-size: 2.5rem;
}

/*Home*/
.home-tabs {
    margin-top: 20px;
}

.home-tabs li {
    width: 50%;
}

.tabs li a {
    font-size: 2rem;
}

.tabs li a:hover {
    color: #3760a8;
    border-color: #3760a8;
    text-decoration: none;
}
.mechanical-content a , .sheetmetal-content a {
    display: block;
}

.slick-slide img {
    margin: 0 auto;
}

/* About */


/* Bio */
.card {
    max-width: 300px;
    margin: 0 auto;
}

.card .media-content .title {
    font-size: 1.8rem;
}

.card .media-content .subtitle {
    font-size: 1.6rem;
}

.learn-content {
    display: none;
}

.learn-content.active {
    display: block;
}

.modal-content {
    background: #fff;
    padding: 20px;
    font-size: 1.4rem;
}

.learn-more {
    color: #3760a8;
    font-size: 1.4rem;
    cursor: pointer;
}

/* Manufacturer */
.tile a {
    display: block;
    margin: 0 auto;
}

.tile.is-ancestor:not(:last-child) {
    margin-bottom: 2rem;
}